@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;600;800&display=swap');

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.quoteMachine {
    font-family: 'Spectral', serif;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    padding: 30px;

    @media(max-width: 700px) {
        width: 80%;
    }

    .quote {
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .author {
        font-size: 1.25em;
        font-weight: 400;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            border: 0;
            border-radius: 2px;
            height: 2.5rem;
            color: white;
            font-size: 14px;
        }

        .copy {
            width: 2.5rem;
        }

        .newQuote {
            width: 7.5rem;
        }
    }

    a {
        position: absolute;
        font-family: 'Spectral', serif;
        font-weight: 400;
        font-size: 18;
        color: white;
        text-decoration: none;
        text-align: center;
        left: 0;
        width: 100%;
        transform: translate(0%, 150%);
    }
}

.quotemark {
    margin-right: 10px;
}